<h1>New Lead</h1>

<h2>Contact Info</h2>

Name:          	<%= @name %><br />
Phone:			<%= @home_phone %><br />
Email:         	<%= @email %><br />

<h2>Move Starts</h2>

Date:			<%= @move_date %><br />
From:			<%= @move_from_zip %><br />
Kind:			<%= @move_size_id %><br />

<h2>Destination</h2>

City:			<%= @move_to_city %><br />
Instructions:	<%= @special_instructions %><br />
